{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="container blogdetail">
        <h1>Blogs</h1>

        <div class="row">
            <div class="col-md-8">
                <h3>{{object.title }}</h3>
                <p>{{ object.content }}</p>
            </div>
            <div class="col">
                <strong>{{object.timestamp}} Date uploaded</strong>
                <br><br>
                <strong>{{object.updated}} Date updated</strong>
                <p>
                    <img src="../media/{{ object.images }}" alt="" height="200px">
                </p>
            </div>
        </div>

    </div>

{% endblock%}
