{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container bloglist">
    <h1>Blogs</h1>
    <div class="row">

        {% for blog in object_list %}
        <div class="col">
            <ul>
                <li>
                    <a href="{% url 'blogdetail' blog.id%}">{{blog.title}}</a> <br>
                </li>
                <li class="author">
                    {% if blog.author %}
                        {{blog.author}}
                    {% else %}
                        Author not known
                    {% endif %}
                </li>
                <li>
                    <strong>{{blog.timestamp}}</strong>
                </li>
            </ul>
            <img src="media/{{blog.images}}" alt="" height="200px">
        </div>
        {%endfor %}
    </div>
</div>
{% endblock%}
