{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="container blogdetail">
        <h1>{{object.title}}</h1>

        <div class="row justify-content-between">
            <div class="col-md-7">
                {% if object.author%}
                    <h3>{{object.author }}</h3>
                {% endif %}
                <p>{{ object.content }}</p>
            </div>
            <div class="col-md-3 ">
                <strong>{{object.timestamp}} Date uploaded</strong>
                <br><br>
                <strong>{{object.updated}} Date updated</strong>
                <p>
                    <img src="../media/{{ object.images }}" alt="" height="200px">
                </p>
            </div>
        </div>

    </div>

{% endblock%}
