<footer class="footer">
    <div class="container">
        <footer class="footer">
            <p>© VisDroom 2017</p>
            <div class="row">

                <div class="col-3">
                    <h3 a href='#'>Home</h3>
                </div>
                <div class="col-3">
                    <h3 a href='#'>About us</h3>
                </div>
                <div class="col-3">
                    <h3 a href='#'>Privacy</h3>
                </div>
            </div>
    </div>
</footer>
