<footer>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col">
                <h3>Like ons!</h3>
                <p>
                    <h5>Welkom op VisDroom! </h5><br>
                    Het nieuwe platform voor al uw VisDromen.
                    Deel, Speel en leer.
                    <br><br>
                    <p>Like ook onze facebookpagina!</p>
                </p>
                <a href="#" class="fa fa-facebook"></a><br><br>
                <p>Vragen, tips of opmerkingen mail ons dan?: Info@visdroom.nl</p>
            </div>

</footer>
